html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #24282f;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px; 
}

.header-title {
    color: peachpuff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
}

select {
    margin-left: 30px;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    color:peachpuff;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    appearance: none;
    outline: none;
    overflow-y: auto;
    font-size: 30px;
}

select::-ms-expand {
    display: none;
}

option {
    color:peachpuff;
    cursor: pointer;
    background-color: #24282f;
}


.content {
	display: flex;
	justify-content: center;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    row-gap: 50px;
}

span {
    color: peachpuff;
}

.card {
	perspective: 600px;
    position: relative;
	width: 430px;
    height: 670px;
    border-radius: 10px;
	box-shadow: 0px 8px 27px -5px rgba(0, 0, 0, 0.82);
	cursor: pointer;
	transition: transform 0.5s;
	transform-origin: center top;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	border: none;
    z-index: -1;
    position: absolute;
}

.card:hover .drawn_content {
    bottom: 0px;
    transition: ease-in 0.5s;
}

.drawn_content {
    position: absolute;
    bottom: -400px;
    padding-top: 35px;
    height: 400px;
    color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    clip-path: polygon(100% 0%, 50% 9%, 0% 10%, 0% 100%, 100% 100%);
    transition: ease-in-out 0.5s;
}

.card:hover h1.title-name {
    opacity: 0;
}

h1 {
    font-size: 40px;
    color:white;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: ease-in-out 0.5s;
}

.title {
    font-size: 20px;
    color: white;
    padding: 0 10px;
    margin-bottom: 6px;  
}

.status {
    margin-bottom: 10px;
}